[[providers]]
name = "php"

[providers.php]
version = "8.2.30"
extensions = ["intl", "zip", "ctype", "curl", "dom", "fileinfo", "filter", "hash", "mbstring", "openssl", "pcre", "pdo", "session", "tokenizer", "xml"]
